body {
  margin: 0;
  font-family: monospace, monospace;
  background-color: #000;
  color: #eee;
}

.container {
  padding: 3rem 1rem;
  max-width: 960px;
  margin: auto;
}

header {
  text-align: center;
  margin-bottom: 4rem;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  border-bottom: 1px solid #444;
  padding-bottom: 0.5rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.card {
  background: #111;
  padding: 1.5rem;
  border: 1px solid #444;
  border-radius: 0.5rem;
}

.card h3 {
  font-size: 1.15rem;     /* Slightly smaller heading */
  white-space: nowrap;    /* Prevents line break in heading */
  overflow: hidden;       /* Hides overflow if too long */
  text-overflow: ellipsis;/* Adds ... if text overflows */
  margin-top: 0;
  margin-bottom: 0.5rem;
}

footer {
  text-align: center;
  margin-top: 5rem;
  font-size: 0.875rem;
  color: #666;
}

@media (min-width: 768px) {
  .cards {
    flex-direction: row;
  }
}

